POSTGRESQL_DB=movies_database
POSTGRESQL_USER=app
POSTGRESQL_PASSWORD=123qwe
DB_HOST=db
DB_USER-app
DB_PORT=5432
DB_PASSWORD=123qwe
DB_NAME=movies_database
DB_HOST_ELASTIC=es01
ELASTIC_PORT=9200
SCHEME=http
SECRET_KEY=o_5il7yooo41h871**w*7=^vu@4i&kpc0+9k@=n=wewa2%d6_a
REDIS_HOST=redis01
ELASTIC_HOST=es01
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
