ELASTICSEARCH_HOST='127.0.0.1'
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_URL='127.0.0.1:9200'
REDIS_HOST='127.0.0.1'
REDIS_PORT=6379
FASTAPI_HOST='127.0.0.1'
FASTAPI_PORT=8000
FASTAPI_URL='127.0.0.1:8000'
